[init]
	defaultBranch = main
[user]
	email = lautaroledesma2021@gmail.com
	name = LautaroDevelopers
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
